@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

:root {
    /* color */
    --white-color: #F2ECD6;
    --black-color: #100A14;
    --yellow-color: #E5C51B;
    --blue-color: #009D97;
  }

body {
    background-color: var(--yellow-color);
}

/*link text color*/
a:link {
  color : var(--black-color);
  text-decoration: none;
}
a:visited {
  color : var(--black-color);
}
a:hover {
  color : var(--white-color);
}
a:active {
  color : var(--white-color);
}

/* select text color */
p::selection {
  background: var(--yellow-color);
  color: var(--black-color)
}

/* about page */
.top-menu {
  font-family: 'Lateef', cursive;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 20px;
  padding: 1rem;
  color: var(--black-color);
  font-size: 23px;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  padding: 130px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
}

.footer {
  font-family: 'Lateef', cursive;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  height: 70px;
  color: var(--black-color);
  font-size: 19px;
  justify-content: center;
  align-items: center;
}