@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

:root {
    /* color */
    --white-color: #F2ECD6;
    --black-color: #100A14;
    --yellow-color: #E5C51B;
    --blue-color: #009D97;
  }

body {
    background-color: var(--yellow-color);
}

/*link text color*/
a:link {
  color : var(--black-color);
  text-decoration: none;
}
a:visited {
  color : var(--black-color);
}
a:hover {
  color : var(--white-color);
}
a:active {
  color : var(--white-color);
}

/* select text color */
p::selection {
  background: var(--yellow-color);
  color: var(--black-color)
}

/* about page */
.top-menu {
  font-family: 'Lateef', cursive;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 20px;
  padding: 1rem;
  color: var(--black-color);
  font-size: 23px;
  justify-content: space-between;
  align-items: center;
}

.about {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.about:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.project {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.project:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.introduction {
  padding: 130px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
}

.footer {
  font-family: 'Lateef', cursive;
  display: flex;
  background-color: var(--white-color);
  position: fixed;
  border-top: 1px solid var(--black-color); 
  left: 0;
  right: 0;
  bottom: 0;

  height: 30px;
  padding: 1rem;
  color: var(--black-color);
  font-size: 19px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {

  .introduction {
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
  } 
}