@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

:root {
    /* color */
    --white-color: #F6F5F0;
    --black-color: #100A14;
    --yellow-color: #E5C51B;
    --blue-color: #006574;
  }


body {
  background-color: var(--yellow-color);
}

/*link text color*/
a:link {
  color : var(--black-color);
  text-decoration: none;
}
a:visited {
  color : var(--black-color);
}
a:hover {
  color : var(--white-color);
}
a:active {
  color : var(--white-color);
}

/* select text color */
::selection {
  background: var(--yellow-color);
  color: var(--white-color);
}



/* about page */
.top-menu {
  font-family: 'IM Fell English SC', serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 20px;
  padding: 1rem;
  background-color: #E5C51B;
  color: var(--black-color);
  font-size: 23px;
  /*
  border-bottom: #100A14 solid 1px;
  */
  justify-content: space-between;
  align-items: center;
}

.about {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.about:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.project {
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.project:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding: 90px;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 500px;
}

.profile-text {
  font-family: 'IM Fell Great Primer', serif;
  text-align: justify;
  line-height: 20px;
  margin: 25px;
  width: 500px;
}


.footer {
  font-family: 'IM Fell English SC', serif;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  height: 10px;
  padding: 1rem;
  background-color: var(--yellow-color);
  color: var(--black-color);
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .introduction {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image {
    width: 300px;
  }
  
  .profile-text {
    font-family: 'IM Fell Great Primer', serif;
    text-align: justify;
    line-height: 20px;
    margin: 20px;
    width: 300px;
  }
}



/* this is for only iphone12 mini*/
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {

  .introduction {
    display: flex;
    padding: 5px;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image {
    width: 93%;
    padding-bottom: 5%;
  }
  
  .profile-text {
    font-size: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  } 
}