@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');


:root {
    /* need change white and blue*/
    /* color */
    --white-color: #F6F5F0;/*#F2ECD6;*/
    --black-color: #100A14;
    --yellow-color: #E5C51B;
    --blue-color: #006574;
}

/*link text color*/
a:link {
    color : var(--black-color);
    text-decoration: none;
  }
  a:visited {
    color : var(--black-color);
  }
  a:hover {
    color : var(--blue-color);
  }
  a:active {
    color : var(--blue-color);
  }
  
  /* select text color */
  ::selection {
    background: var(--blue-color);
    color: var(--white-color);
  }

body {
    margin: 0 auto;
    background-color: var(--white-color);
    --color-link: var(--blue-color);
    --color-link-hover: var(--blue-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    padding: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.top-menu {
    font-family: 'IM Fell English SC', serif;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 20px;
    padding: 1rem;
    color: var(--black-color);
    font-size: 23px;
    /*
    border-bottom: #100A14 solid 1px;
    */
    justify-content: space-between;
    align-items: center;
}

.about {
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
}

.about:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
}

.project {
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
}

.project:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
}

.content {
    padding: 10px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 20px;
    font-family: 'IM Fell Great Primer', serif;

}

.content-1 {
    flex-direction: column;
    border-bottom: solid 3px var(--black-color);
    margin-bottom: 5%;
}

.title {
    font-size: 3rem;
}

.tag {
    font-size: 1rem;
    margin: 10px;
}

.link {
    margin: 20px;

}

.content-2 {
    text-align: justify;
    display: flex;
}

.project-member {
    font-size: 1rem;
    width: 70%;
}

.eng-content {
    padding-left: 5%;
    padding-right: 5%;

}


.footer {
    font-family: 'IM Fell English SC', serif;
    display: flex;
    position: fixed;
    /*
    border-top: 1px solid var(--black-color); 
    */
    left: 0;
    right: 0;
    bottom: 0;

    height: 10px;
    padding: 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 15px;
    justify-content: center;
    align-items: center;
}


