@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');

:root {
  /* color */
  --white-color: #F2ECD6;
  --black-color: #100A14;
  --yellow-color: #E5C51B;
  --blue-color: #009D97;
}

body {
  /*사진 사이즈 변경*/
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 2500ms ease;
  transition-property: all;
  font-family: 'IM Fell Great Primer', serif;
}

.title {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
}

/*위치 가운데 정렬필요 */
.title .name {
  font-size: 120px;
  margin-top: 160px;
  margin-left: 470px; 
  margin-right: 70px;
}

a {
            color: var(--blue-color);
            text-decoration: none;
}

a:hover,
a:active {
            color: var(--blue-color);
}

.menu {
  padding-top: 10px;
  padding-right: 10px;
}

.about {
  display: block;
  width: 300px;
  height: 140px;
  object-fit: cover;
}


@media screen and (max-width: 1200px) {

  .title {
    color: var(--blue-color);
    font-size: 40px;
  }}